@import '../../../styles-variables';

.container {
  margin-top: 20px;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
mat-card-content {
  text-align: center; 
  height:250px;
  
  img{
    max-height:250px; 
    max-width:100%;
  }
}

mat-card {
  margin: 0 0 20px 0;
 
  mat-card-title {
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis; 
  }
  mat-card-content{
    height: 250px
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-title {
      height: auto;
    }
  }

}
